/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200;400;600;800&display=swap');

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f6f6f6;
}

/* App Container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Heading Styles */
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  color: #66b8e7;
  padding: 1.5em 0;
  margin-bottom: 0;
  text-align: center;
  animation: fadeIn 1s ease; /* Apply fade-in animation to h1 */
}

/* Search Box Styles */
.searchBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.searchBox input {
  width: 400px;
  height: 38px;
  font-size: 20px;
  padding-left: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.searchBox button {
  background-color: #66b8e7;
  height: 38px;
  width: 60px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  transition: green 0.3s ease;
}

.searchBox input:focus {
  width: 450px;
}

.searchBox button:hover {
  background-color: #4ca0d9;
}

/* Results Container Styles */
.showResults {
  max-width: 800px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading Styles Inside Results */
.showResults h2 {
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 20px;
}

/* Button Styles Inside Results */
.showResults button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Definition Styles Inside Results */
.showResults h4 {
  color: #66b8e7;
  margin-bottom: 5px;
}

/* Apply font weight to example and definition */
.showResults p {
  font-weight: 400;
}

/* Speaker Icon Styles */
.FcSpeaker {
  vertical-align: middle;
}

/* Animation Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
